<div class="container">
  <div class="row">
    <% if current_user %>
      <h3>
        Dashboard
      </h3>
      <div class="col-lg-6">
        <div class="panel-info">
          <div class="panel-heading">
            <h3 class=panel-title>
              My Upcoming Shifts
            </h3>
          </div>
          <div class="panel-body scroll-panel">
            <div class="list-group">
              <% if current_user.shows.any? %>
                <% current_user.shows.each do |show| %>
                  <div class="list-group-item">
                    <% show.shifts.each do |shift| %>
                      <% if shift.user_id == current_user.id %>
                      <h4 class='list-group-item-heading'>
                        <%= shift.job.title %>
                      </h4>
                      <% end %>
                    <% end %>
                    <%= link_to "#{show.date}: #{show.headliner} @ #{show.venue.name}", show_path(show) %>
                  </div>
                <% end %>
              <% else %>
                You're not signed up to work any shifts right now
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel-success">
          <div class="panel-heading">
            <h3 class='panel-title'>
              Upcoming Available Shifts
            </h3>
          </div>
          <div class="panel-body scroll-panel">
            <% if @shifts.any? %>
              <% @shifts.each do |shift| %>
                <%= render partial: 'event', locals: {shift: shift, show: shift.show} %>
              <% end %>
            <% else %>
              There are no available shifts coming up.
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4 class="panel-title">
            Past Shows
          </h4>
        </div>
        <div class="panel-body scroll-panel">
          <% current_user.shows.each do |show| %>
            <% if show.show_end.past? %>
              <% show.shifts.each do |shift| %>
                <% if shift.user == current_user %>
                  <%= render partial: 'event', locals: {show: show, shift: shift} %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class='jumbotron'>
        <h1>Welcome to ShiftSlot</h1>
        <p>
          ShiftSlot is a place for volunteers and workers to sign up for shifts at some Seattle music venues. <%= link_to 'Sign in', user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> above to get started.
        </p>
      </div>
    </div>
    <% end %>
</div>
