  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class='panel-title'>
        User Permissions
      </h3>
    </div>
      <%= form_for @user, method: :patch do |f| %>
      <% current_user.orgs_responsible_for(@user).each do |org| %>
        <% if @user != current_user %>
          <div class="input-group">
            <span class='input-group-addon'>
              <%= hidden_field_tag 'user[set_admin]', 'false' %>
              <%= check_box_tag 'user[set_admin]', 'true' %>
            </span>
              <%= f.label 'make admin?', class: 'form-control' %>
          </div>
        <% end %>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <%= hidden_field_tag 'organization_id', org.id %>
          <div class="panel panel-warning">
            <div class="panel-heading">
              <%= org.name %>
            </div>
          </div>
        <% end %>
        <% @user.venues.each do |venue| %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <a role="button" data-toggle="collapse" href="#jobs<%= venue.id %>" aria-expanded="false" aria-controls="jobs<%= venue.id %>">
                <%= venue.name %> <span class='caret'></span>
              </a>
            </div>
          <div class="collapse" id="jobs<%= venue.id %>">
            <% venue.jobs.each do |job| %>
              <% if @user.authorized?(job) %>
                <div class='input-group'>
                  <span class='input-group-addon'>
                    <%= check_box_tag "job_ids[]", job.id, checked: true %>
                  </span>
                  <%= f.label job.title, class: 'form-control' %>
                </div>
              <% else %>
                <div class='input-group'>
                  <span class='input-group-addon'>
                    <%= check_box_tag "job_ids[]", job.id %>
                  </span>
                  <%= f.label job.title, class: 'form-control'  %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
      <%= f.submit 'Update Permissions', class: 'btn btn-default form-control' %>
    </div>
    <% end %>
  </div>
