<div class="col-lg-6">
  <div class='panel panel-default'>
    <div class='panel panel-heading'>
      <h2>
        <%= @user.name %>'s Profile
          <% if current_user == @user %>
            <%= link_to '', edit_user_registration_path, html_options = {class: 'glyphicon glyphicon-edit'}%>

          <% elsif current_user.admin %>
            <%= link_to '', edit_user_path(@user.id), html_options = {class: 'glyphicon glyphicon-edit'}%>
        <% end %>
      </h2>
    </div>
    <ul class='list-group'>
      <li class='list-group-item'>
        Email: <%= @user.email %>
      </li>
      <li class='list-group-item'>
        Status:
      </li>
      <li class='list-group-item'>
        Last show worked:
      </li>
      <li class='list-group-item'>
        <div>
          Availability:
          <% if current_user.admin || current_user %>
            <%= link_to 'Change', edit_user_path(@user) %>
          <% end %>
          <table class='table'>
            <tr>
              <th>
                Preferred
              </th>
              <th>
                Unavailable
              </th>
            </tr>
            <tr>
              <%= render partial: 'preferred_days/index', locals: {user: @user} %>
            </tr>
          </table>
        </div>
        <div>
        </div>
      </li>
      <% if current_user.admin %>
      <li class='list-group-item'>
        Auhtorized for:
        <div>
          <% @user.jobs.each do |job| %>
            <%= job.title %>
          <% end %>
        </div>
      </li>
      <li class='list-group-item'>
        Verified: Maybe something that cofirms that they have worked and are trustworthy here
      </li>
      <li class='list-group-item'>
        Notes
      </li>
      <% end %>
    </ul>
  </div>
</div>
