<h2>
  <%= @user.name %>'s Permissions
</h2>
<div class="row">
  <div class="col-lg-6">
    Authorize for:
      <%= form_for @user, method: :patch do |f| %>
      <ul class="list-group">
        <li class='list-group-item'>
          <%= f.check_box :admin %>
          <%= f.label 'make admin?' %>
        </li>
        <% @jobs.each do |job| %>
          <% if @user.authorized?(job) %>
            <li class='list-group-item'>
              <%= check_box_tag "job_ids[]", job.id, checked: true %>
              <%= f.label job.title %>
            </li>
          <% else %>
            <li class='list-group-item'>
              <%= check_box_tag "job_ids[]", job.id %>
              <%= f.label job.title  %>
            </li>
          <% end%>
        <% end %>
    </ul>
      <div>
        <%= f.submit %>
      </div>
      <% end %>
  </div>
</div>
