<div class="container well well-lg">
  <h2>
    <%= @user.name.titleize %>'s Permissions
  </h2>
  <div class="row">
    <% if current_user.admin %>
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class='panel-title'>
              User Permissions
            </h3>
          </div>
            <%= form_for @user, method: :patch do |f| %>
              <div class="input-group">
                <span class='input-group-addon'>
                  <%= f.check_box :admin %>
                </span>
                <%= f.label 'make admin?', class: 'form-control' %>
              </div>
              <% @venues.each do |venue| %>
                <div class="panel panel-default no-bottom">
                  <div class="panel-heading">
                    <h2 class='panel-title'>
                      <a  role="button" data-toggle="collapse" href="#jobs<%= venue.id %>" aria-expanded="false" aria-controls="jobs<%= venue.id %>">
                        <%= venue.name %> <span class='caret'></span>
                      </a>
                    </h2>
                  </div>
                <div class="collapse" id="jobs<%= venue.id %>">
                  <% venue.jobs.each do |job| %>
                    <% if @user.authorized?(job) %>
                      <div class='input-group'>
                        <span class='input-group-addon'>
                          <%= check_box_tag "job_ids[]", job.id, checked: true %>
                        </span>
                        <%= f.label job.title, class: 'form-control' %>
                      </div>
                    <% else %>
                      <div class='input-group'>
                        <span class='input-group-addon'>
                          <%= check_box_tag "job_ids[]", job.id %>
                        </span>
                        <%= f.label job.title, class: 'form-control'  %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <% end %>
            <%= f.submit 'Update Permissions', class: 'btn btn-default form-control' %>
          <% end %>
          </div>
        <% end %>
      </div>
    <div class="col-lg-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Work Availability</h3>
        </div>
        <div class="panel-body">
          <div>
            Click a day to change your availability:
            <div>
              <span class='green'>Green = you'd prefer to work that day</span>
            </div>
            <div>
              <span class="red"> Red = You can't work that day</span>
            </div>
            <div>
              Leave it blank if you could go either way
            </div>
          </div>
          <div id='daysContainer'>
            <% @user.preferred_days.order(:created_at).each do |day| %>
              <%= render partial: '/preferred_days/day_form', locals: {day: day, user: @user} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
