  <div id="search-target">

  </div>
  <div id='results'>

  </div>
  <div id='shifts'>
    <ul class='list-group'>
      <% if shifts.empty? %>
        <% if current_user.admin?(@show.organization_id) %>
          No one is scheduled to work yet. Click the + up above to schedule someone.
        <% else %>
          The show organizer hasn't set up shifts yet. Check back later, or talk to the show organizer.
        <% end %>
      <% else %>
      <% disabled = shifts.map(&:user).include?(current_user) %>
        <% shifts.each do |shift| %>
          <li class='list-group-item'>
            <% if shift.user %>
              <%= shift.user.name %>: <%= shift.job.title %>
              <%= form_tag shift_path(shift), method: :patch, class: 'inline' do %>
                <% hidden_field_tag value: 'shift.user.id'%>
                <% if current_user.admin?(@show.organization_id) %>
                  <%= submit_tag 'Remove Worker', class: 'btn btn-warning'%> <%= link_to 'Cancel Shift', shift_path(shift), class: 'btn btn-danger', method: :delete %>
                <% else %>
                  <% if shift.user == current_user %>
                    <%= submit_tag 'Unschedule Me', class: 'btn btn-danger', id: 'unschedule', data: { confirm: 'You will be unscheduled from this shift. Are you sure?' } %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <% if current_user.admin?(@show.organization_id) %>
                <%= form_for shift do |f| %>
                  <%= hidden_field_tag 'organization_id', @show.organization.id %>
                  <span class="btn btn-default disabled"><%= shift.job.title %></span>
                  <% if available_workers(shift).class == Array %>
                    <%= select_tag 'worker_name', options_for_select(available_workers(shift)), class: 'form-control btn btn-default' %>
                  <% else %>
                    <div class='red'>
                      <%= available_workers(shift) %>
                      <%= link_to 'Authorize a worker', users_path %>
                    </div>
                  <% end %>
                  <%= link_to 'Cancel Shift', shift_path(shift), class: 'btn btn-danger', method: :delete %>
                  <%= f.submit 'Update Shift', class: 'btn' %>
                <% end %>
              <% else %>
                <%= form_tag shift_path(shift), method: 'PATCH', class: 'inline' do %>
                  <% hidden_field_tag :user_id, value: current_user.id %>
                  <% hidden_field_tag :option, value: 'remove' %>
                  <%= submit_tag 'Sign Up', class: 'btn btn-default', id: 'sign-up', disabled: disabled %>
                <% end %>
                <%= shift.job.title %>
              <% end %>
            <% end %>
          </li>
          <% end %>
      <% end %>
    </ul>
</div>
