  <div id="search-target">

  </div>
  <div id='results'>

  </div>
  <div id='shifts'>
    <ul class='list-group'>
      <% if shifts.empty? %>
        No one is scheduled to work yet. Click the + up above to schedule someone.
      <% else %>
      <% disabled = shifts.map(&:user).include?(current_user) %>
        <% shifts.each do |shift| %>
          <li class='list-group-item'>
            <% if shift.user %>
              <%= shift.user.name %>: <%= shift.job.title %> <%= link_to '', shift_path(shift), class: 'glyphicon glyphicon-remove red', method: :delete %>
              <%= form_tag shift_path(shift), method: :patch, class: 'inline' do %>
                <% hidden_field_tag value: 'shift.user.id'%>
                <% if current_user.admin %>
                  <%= submit_tag 'Remove Worker', class: 'btn btn-warning' %>
                <% else %>
                  <%= submit_tag 'Remove Worker', class: 'btn btn-warning' %>
                <% end %>
              <% end %>
            <% else %>
              <% if current_user.admin %>
                <%= link_to 'Assign Worker', edit_shift_path(shift), class: 'btn btn-default', id: 'assign-worker' %> <%= shift.job.title %> <%= link_to '', shift_path(shift), class: 'glyphicon glyphicon-remove red', method: :delete %>
              <% else %>
                <%= form_tag shift_path(shift), method: 'PATCH', class: 'inline' do %>
                  <% hidden_field_tag :user_id, value: current_user.id %>
                  <% hidden_field_tag :option, value: 'remove' %>
                  <%= submit_tag 'Sign Up', class: 'btn btn-default', id: 'sign-up', disabled: disabled %>
                <% end %>
                <%= shift.job.title %>
              <% end %>
            <% end %>
          </li>
          <% end %>
      <% end %>
    </ul>
</div>
