<%= form_for :shows, url: organization_shows_import_path(@org) do |f| %>
  <div class="col-lg-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h4>
          The following shows did not their venues automatically assigned. Assign them below.
        </h4>
      </div>
      <p>If you don't see the matching venue in the list you may need to <%= link_to 'add it here.', new_venue_path  %> </p>
    <div class="panel-body">
      <% @google_shows[:need_venue].each.with_index do |show, index| %>
        <%= f.hidden_field "#{index}[info]", value: show.info %>
        <%= f.hidden_field "#{index}[start]", value: show.start %>
            <div>
              <%= show.info %>
              <%= f.label :venue_id %>
              <%= select "shows[#{index}]", "venue_id", options_for_select(@org.venues.map {|v| [v.name, v.id] }), include_blank: 'select a venue', class: 'form-control btn btn-default', required: true %>
            </div>
        <% end %>
        <%= f.submit class: 'btn btn-default' %>
    <% end %>
      </div>
    </div>
  </div>
