<% no_venues = @google_shows[:shows].select { |show| !show.venue_id} %>
<div class="container">
  <div class="row">
    <h2>Google Calendar Import Results</h2>
      <div class="col-lg-4">
      <div class="panel panel-success">
        <% if !@google_shows[:shows].empty? %>
          <div class="panel-heading">
            <h4>The following shows have been successfully imported from your google calendar:</h4>
          </div>
          <div class="panel-body">
              <% @google_shows[:shows].each do |show| %>
              <li class='list-group-item'>
                <ul class='list-group'>
                  <li class='list-group-item'>
                    <h4>
                      <%= show.readable_date %>
                    </h4>
                    <% if show.venue %>
                    <div class='list-group-item-heading'>
                      <%= show.info %> @ show.venue
                    </div>
                    <% else %>
                    <h4 class='list-group-item-heading'>
                      <%= show.info %>
                    </h4>
                    <% end %>
                  </li>
                  <% if show.readable(show.start) == "12:00AM" %>
                  <li class='list-group-item list-group-item-warning'>
                    <p>
                      This show is set as an all day event in Google Calendar and it's start and end times will have to be set manually within this app. In the meantime it'll be set to 12:00am
                    </p>
                    <% else %>
                    <li class='list-group-item'>
                      <%= show.readable(show.start) %>
                      <% end %>
                    </li>

                  </ul>
                </li>
                <% end %>

            </div>
          </div>
        </div>
        <%= form_for :shows, url: organization_shows_import_path(@org) do |f| %>
          <% if no_venues.any? %>
          <div class="col-lg-4">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h4>
                  The following shows did not their venues automatically assigned. Assign them below.
                </h4>
              </div>
              <p>If you don't see the matching venue in the list you may need to <%= link_to 'add it here', new_venue_path  %> and try your import again. You can also choose the ignore option from the show's dropdown menu and it will not be imported. </p>
            <div class="panel-body">
              <% @google_shows[:shows].each.with_index do |show, index| %>
                <%= f.hidden_field "#{index}[info]", value: show.info %>
                <%= f.hidden_field "#{index}[start]", value: show.start %>
                  <% if !show.venue %>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <%= show.info %>
                      <%= f.label :venue_id %>
                      <%= select "shows[#{index}]", "venue_id", options_for_select(@org.venues.map {|v| [v.name, v.id] }), include_blank: 'ignore', class: 'form-control btn btn-default', required: true %>
                    </li>
                  </ul>
                  <% end %>
                <% end %>
                <%= f.submit class: 'btn btn-default' %>
                <% end %>
              <% end %>
              </div>
              <% end %>
          </div>
      </div>
    <% if @google_shows[:conflicts].any? %>
      <div class="col-lg-4">
        <div class="panel panel-danger">
          <div class='panel-heading'>
            <h4>The following shows conflict with shows you've already imported and will be ignored</h4>
          </div>
            <ul class="list-group">
              <% @google_shows[:conflicts].each do |show| %>
              <li class="list-group-item">
                <%= show.info %> on <%= show.date %>
              </li>
              <% end %>
            </ul>
          </div>
      </div>
    <% end %>
  </div>
</div>
