<div class="container">
  <h2>Google Calendar Import Results</h2>

  <% if @google_shows[:conflicts].any? %>
    <h3>The following shows may conflict with shows you've already imported</h3>
    <% @google_shows.conflicts.each do |show| %>
      <%= show.inspect %>
    <% end %>
  <% end %>

  <h3>The following shows can be imported from your google calendar</h3>
  <ul>
    <% @google_shows[:shows].each do |show| %>
      <li>
        <ul class='list-group'>
          <li class='list-group-item'>
            <%= show.date %> <%= show.readable(show.start) %>
          </li>
          <li class='list-group-item'>
            <%= show.readable(show.start) %>
          </li>
          <li class='list-group-item'>
            <%= show.info %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
