<div class="container">
  <div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Shows this week for <%= @org.name %>:
          </div>
        </div>
        <div class="panel-body">
          <%= week_calendar number_of_weeks: 1, events: @org.shows do |date, shows| %>
            <%= date %>
            <% shows.each do |show| %>
              <%= render partial: 'shows/link', locals: {show: show} %>
            <% end %>
          <% end %>
        </div>
        <div class="panel-heading">
          <div class="panel-title">
            Next 5 shows  for <%= @org.name %>:
          </div>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @org.shows[0..4].each do |show| %>
            <li class="list-group-item">
              <% if show.staffed? %>
                <%= link_to "#{show.headliner} on #{show.date} at #{show.venue.name}", show_path(show), class: 'green' %>
              <% else %>
                <%= link_to "#{show.headliner} on #{show.date} at #{show.venue.name}", show_path(show), class: 'red' %>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>
