<div class="container">
  <div class="page-header">
    <h2 class="heading">
      <%= @org.name %>
    </h2>
    <ul class='nav nav-pills'>
      <li>
        <%= link_to 'Settings', edit_organization_path(@org) %>
      </li>
      <li>
        <%= link_to 'Book a Show', new_organization_show_path(@org) %>
      </li>
      <li>
        <%= link_to 'Add a Venue', new_venue_path %>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6">
      <% if @org.any_unauthorized? %>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <div class="panel-title heading">
              <%= @org.name %>'s workers/volunteers <span class='badge'> <span id='unauthorized-count'><%= @org.total_unauthorized %></span> </span>
            </div>
          <% else %>
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="panel-title heading">
                  <%= @org.name %>'s workers/volunteers
                </div>
          <% end %>
        </div>
          <div class="panel-body scroll-panel">
            <ul class='list-group'>
              <% @org.users.each do |worker| %>
                <% assignment = Assignment.find_match(user_id: worker.id, organization_id: @org.id) %>
                <% if !assignment.authorized? %>
                  <li class='list-group-item list-group-item-danger'>
                    <%= link_to worker.name, user_path(worker.id) %>
                    <div id="unauthorized-<%= assignment.id%>">
                      Awaiting authorization
                      <button class="authorize btn btn-success" type="button" name="assignment_id" value=<%= assignment.id %>>Authorize</button>
                    </div>
                  </li>
                  <% else %>
                  <li class='list-group-item'>
                    <%= link_to worker.name, user_path(worker.id) %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title heading">
            <%= @org.name %>'s venues:
          </div>
        </div>
        <div class="panel-body">
          <ul class='list-group'>
            <% @org.venues.each do |venue| %>
            <li class='list-group-item'>
              <%= link_to venue.name, venue_path(venue) %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title heading">
            Shows this week for <%= @org.name %>:
          </div>
          <%= link_to 'go to month', organization_shows_path(@org.id) %>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @org.this_week_in_shows.each do |show| %>
            <li class="list-group-item">
              <%= render partial: 'shows/link', locals: {show: show} %>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="panel-heading">
          <div class="panel-title heading">
            Next 5 shows  for <%= @org.name %>:
          </div>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @org.upcoming_shows.each do |show| %>
            <li class="list-group-item">
              <% if show.staffed? %>
                <%= link_to "#{show.headliner} on #{show.date} at #{show.venue.name}", show_path(show), class: 'green' %>
              <% else %>
                <%= link_to "#{show.headliner} on #{show.date} at #{show.venue.name}", show_path(show), class: 'red' %>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>

  </div>
</div>
