<tr>
  <td>
    <%= show.date %>
  </td>
  <td>
    <%= link_to show.headliner, [show.venue, show] %>
  </td>
  <td>
    <%= show.readable(show.doors) %>
  </td>
  <td>
    <%= show.readable(show.start) %>
  </td>
  <td>
    <%= show.readable(show.show_end) %>
  </td>
  <td>
    <% if show.staffed? %>
      <span class='green'><%= show.staffed? %></span>
    <% else %>
      <span class='red'><%= show.staffed? %></span>
    <% end %>
  </td>
</tr>
