<tr>
  <td>
    <%= show.date %>
  </td>
  <td>
    <%= link_to show.headliner, [show.venue, show] %>
  </td>
  <td>
    <%= show.readable(show.doors) %>
  </td>
  <td>
    <%= show.readable(show.start) %>
  </td>
  <td>
    <%= show.readable(show.show_end) %>
  </td>
  <td>
    <%= show.staffed? %>
  </td>
</tr>
