<div class="container">
  <div class="row">
    <h2 class='panel-title'>Upcoming Shows</h2>
    <div class="col-12-lg">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to 'Sync with Google Calendar', callback_path, class: 'btn btn-primary' %>
        </div>
          <% if flash[:errors] %>
          <div class='panel panel-danger'>
            <div class="panel-heading">
              <h4>Some shows were not added</h4>
            </div>
            <% flash[:errors].each do |error| %>
              <% error.each do |err| %>
              <p>
                <%= err %>
              </p>
              <% end %>
            <% end %>
          </div>
          <% end %>
        <div class="panel-body">
          <%= month_calendar events: @shows do |date, shows| %>
            <%= date %>
            <% shows.each do |show| %>
              <% if show.staffed? %>
              <div>
                <%= link_to "#{show.headliner} @ #{show.venue.name}", show_path(show), class: 'green' %>
              </div>
              <% else %>
              <div>
                <%= link_to "#{show.headliner} @ #{show.venue.name}", show_path(show), class: 'red' %>
              </div>
              <% end %>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
