<div class='container'>
  <%= link_to 'back to show list', venue_path(@show.venue_id)%>
  <div class='row'>
    <div class="col-lg-6">
      <div class='panel panel-default'>
        <div class='panel panel-heading'>
          <h2 >
            <%= @show.info %> @ <%= @show.venue.name %>:
          </h2>
        </div>
          <ul class='list-group'>
            <li class='list-group-item'>
              info: <%= @show.info %>
            </li>
            <li class='list-group-item'>
              Date: <%= @show.date %>
            </li>
            <li class='list-group-item'>
              Doors: <%= @show.readable(@show.doors) %>
            </li>
            <li class='list-group-item'>
              Start: <%= @show.readable(@show.start) %>
            </li>
            <li class='list-group-item'>
              End: <%= @show.readable(@show.show_end) %>
            </li>
            <li class='list-group-item'>
              Staffed?
            </li>
          </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class='panel panel-default'>
        <div class='panel panel-heading' id='shifts-container'>
          <h3>
            Shifts
            <% if current_user.admin %>
              <a href="/shows/<%= @show.id %>/shifts/new" id='get-shift-form' class='glyphicon glyphicon-plus'></a>
            <% end %>
          </h3>
          <div id='open-shifts-target' >
          </div>
        </div>
          <div id='open-shifts'>
            <%= render partial: 'shifts/index', locals: {shifts: @show.shifts, show: @show } %>
          </div>
      </div>
    </div>

  </div>
</div>
