<div class='container'>
  <%= link_to 'back to show list', venue_path(@show.venue_id)%>
  <% if @show.organization.authorized_user?(current_user) %>
  <div class='row'>
    <div class="col-lg-6">
      <div class='panel panel-default'>
        <div class='panel panel-heading'>
          <h2 >
            <%= @show.headliner %> @ <%= @show.venue.name %>:
          </h2>
          <ul class='nav nav-pills'>
            <li>
              <%= link_to 'edit', edit_show_path(@show) %>
            </li>
            <li>
              <%= link_to 'delete' %>
            </li>
          </ul>
        </div>
          <ul class='list-group'>
            <li class='list-group-item'>
              Info: <%= @show.info %>
            </li>
            <li class='list-group-item'>
              Date: <%= @show.date %>
            </li>
            <li class='list-group-item'>
              Doors: <%= @show.readable(@show.doors) %>
            </li>
            <li class='list-group-item'>
              Start: <%= @show.readable(@show.start) %>
            </li>
            <li class='list-group-item'>
              End: <%= @show.readable(@show.show_end) %>
            </li>
            <% if current_user.admin?(@show.organization_id) %>
              <li class='list-group-item'>
                Expenses to Recoup: <%= @show.recoup %>
              </li>
              <li class='list-group-item'>
                Payout: <%= @show.payout %>
              </li>
            <% end %>
            <li class='list-group-item'>
              Event Link: <%= @show.event_link %>
            </li>
            <li class='list-group-item'>
              Tickets Link: <%= @show.tickets_link %>
            </li>
            <li class='list-group-item'>
              Door Price: <%= @show.door_price %>
            </li>
            <li class='list-group-item'>
              All Ages: <%= @show.all_ages %>
            </li>
          </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class='panel panel-default'>
        <div class='panel panel-heading' id='shifts-container'>
          <h3>
            Shifts
            <% if current_user.admin?(@show.organization_id) %>
              <a href="/shows/<%= @show.id %>/shifts/new" id='get-shift-form' class='glyphicon glyphicon-plus'></a>
            <% end %>
          </h3>
          <div id='open-shifts-target' >
          </div>
        </div>
          <div id='open-shifts'>
            <%= render partial: 'shifts/index', locals: {shifts: @show.shifts, show: @show } %>
          </div>
      </div>
    </div>

  </div>
  <% else %>
  <div class="jumbotron">
    <h2>
      Sorry, You aren't authorized to view <%= @show.organization.name %>'s content yet. Check with an admin to get authorization.
    </h2>
  </div>
  <% end %>
</div>
