<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ShiftSlot</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

  </head>
  <body>
    <%= render partial: 'layouts/navbar', layout: 'layouts/navbar'  %>
    <% if !flash[:notice].nil? || !flash[:error].nil? %>
      <div class="container">
        <div class="row">
          <div class="notice"><%= notice %></div>
          <div class="alert red"><%= alert %></div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
