<!DOCTYPE html>
<html>
  <head>
    <title>ShiftSlot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">


  </head>
  <body>
    <div class='collapse navbar-collapse'>

    </div>

      <div id="top">
        <div  class='navbar navbar-default'>
          <span class='col navbar-brand' id="title">ShiftSlot</span>
          <ul class="nav navbar-nav">
              <% if current_user %>
                <% if current_user.admin %>
                  <li>
                    <%= link_to 'Workers', users_path %>
                  </li>
                <% end %>
                <li>
                  <%= link_to 'Venues', venues_path %>
                </li>
              <ul class='nav navbar-nav navbar-right'>
                <li>
                  <a><%= current_user.email %></a>
                </li>
                <li>
                  <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>
                </li>
              </ul>
              <% else %>
                <li>
                  <%= link_to 'Sign in', new_user_session_path %>
                </li>
                <li>
                  <%= link_to 'Sign up', new_user_registration_path %>
                </li>
              <% end %>
          </ul>
        </div>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if current_user %>
        <%= yield %>
      <% else %>
       <%= render 'shared/landing' %>
      <% end %>
  </body>
</html>
