<!DOCTYPE html>
<html>
  <head>
    <title>ShiftSlot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">


  </head>
  <body>
    <div class='container'>
      <div class='row' id="top">
        <span class='col span-11-d' id="title">ShiftSlot</span>
        <div class='col span-1-d'>
          <% if current_user %>
          <%= current_user.email %>
          <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>
          <% else %>
          <%= link_to 'Sign in', new_user_session_path %>
          <%= link_to 'Sign up', new_user_registration_path %>
          <% end %>
        </div>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
